body {
    background-color: #f1f1f1 !important;
    .edit-holder {

        h1 {
            text-align: center;
        }

        width: 1140px;
        padding: 5px 5px 5px 5px;
        margin: auto;
        margin-top: 40px;

        @media (max-width: 1140px) {
            width: 95%;
        }

        .preview-content {
            width: 100%;
            margin-top: 20px;
            padding: 5px 5px 5px 5px;
            display: none;

            @media (max-width: 960px) {
                img {
                    width: 100% !important;
                }
            }
        }

        .progress {
            margin-bottom: 20px;
            
            
        }
        
        #preview {
            margin-bottom: 10px;
        }

        #save {
            margin-bottom: 10px;
        }
    }
}