<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Panel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://freedom.petadev.com/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" media="screen" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" media="screen" href="/admin/css/panel.css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=latin-ext" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Cabin:300,300i,400,400i,600,600i,700,700i,800,800i&subset=latin-ext' rel='stylesheet' type='text/css'>
        
    </head>
    <body>
        
        <div class="left">
            <div class="user-info">
                <img src="{{session['image']}}">
                <p class="name">Welcome {{session['name']}}</p>
                <p class="email">{{session['email']}}</p>
                <a href="#edit" class="menu-item" id="edit-button">Editare</a>
            </div>
            <div class="menu">
                <p class="menu-item" id="overall-button">Overall</p>
                <p class="menu-item" id="contact-button">Contact messages</p>
                <p class="menu-item" id="posts-button">Posts</p>
                <p class="menu-item" id="board-button">Board members</p>
                <p class="menu-item" id="logout-button">Log out</p>
            </div>
        </div>
        <div class="right">
        </div>       
        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
        <script src="/admin/js/main.js"></script>
    </body>
</html>