{% for i in range(posts| length) %}

<div class="post-item">
    <img src="/freedom/api/post/img/{{posts[i]['picture']}}">
    <p class="post-title text-justify">{{posts[i]['title']}}</p>
    <div class="post-body">{{posts[i]['body']| safe}}</div>
    <p class="post-info">Postat de <abbr title="attribute">{{authors[i]['name']}}</abbr> la {{posts[i]['timestamp']}}</p>
</div>

{% endfor %}

<script>
    i = 0;
    $('.post-item').each(function() {
        ++i;
        sr.reveal($(this), {
        useDelay: 'once',
        delay: i * 100,
        reset: false,
        })
    })
</script>